.git
.gitignore
node_modules
dist
*.tsbuildinfo
.env*.local
**/__pycache__
**/.pytest_cache
tracks/**
!tracks/never-gonna-give-you-up/
tracks/never-gonna-give-you-up/*
!tracks/never-gonna-give-you-up/lyrics.word-timed.json
